@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/img/img1.jpg" alt="Vikas" style="width:100%">
            <div class="container">
                <h2>Vikas Gupta</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me.</p>
                <p>vikas.gupti047@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/img/img1.jpg" alt="Sunil" style="width:100%">
            <div class="container">
                <h2>Sunil Kumar</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me.</p>
                <p>jsunilkumarbairwa@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/img/img1.jpg" alt="Priyanshu" style="width:100%">
            <div class="container">
                <h2>Priyanshu Mittal</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me.</p>
                <p>Mittalpriyanshu18@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/img/img1.jpg" alt="Sai" style="width:100%">
            <div class="container">
                <h2>Sai Krishna</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me.</p>
                <p>kottem.saikrishna@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>