@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" ><img src="~/img/C1.jpg" style="width:100%; height:100%">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Covid Care<span>Portal</span></h2>
                        <p></p>
                        <!--<div class="text-center"><a href="" class="btn-get-started">Register</a></div>-->
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item"><img src="~/img/C3.jpg" style="width:100%; height:100%">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Covid-19 Vaccine is here!</h2>
                        <p>India's first vaccine has arrived. Hurry and Register!</p>
                        <div class="text-center"><a href="" class="btn-get-started">Register</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" ><img src="~/img/C5.jpg" style="width:100%; height:100%">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2></h2>
                        <p>Check if you have symptoms of Covid 19.</p>
                        <div class="text-center"><a asp-area="" asp-controller="Home" asp-action="Symptom" class="btn-get-started">Symptoms</a></div>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
</section><!-- End Hero -->

