@{
    ViewData["Title"] = "Symptoms of Covid-19";
}
<h1>@ViewData["Title"]</h1>
<br /><br />
<h2>Symptoms</h2>
<hr />
<div class="symptoms">
    <div class=""><p>People infected with Covid-19 virus might experience wide range of symptoms. The symptoms can be mild in some and can show severe illness in some people. The sumptoms may start to show 2-14 days after contact with the virus.</p>
                  <ul>
                      <p>Most common symptoms are</p>
                      <li>Fever</li>
                      <li>Dry Cough</li>
                      <li>Fatigue</li>
                      <br>
                      <p>Other symptoms that are less common and may affect some patients are:</p>
                      <li>Loss of taste or smell</li>
                      <li>Nasal congestion</li>
                      <li>Conjunctivitis</li>
                      <li>Sore throat</li>
                      <li>Headache</li>
                      <li>Muscle or joint pain</li>
                      <li>Different types of skin rash</li>
                      <li>Nausea or vomiting</li>
                      <li>Diarrhea</li>
                      <li>Chills or dizziness</li>
                      <br>
                      <p>Symptoms of severe COVID‐19 disease include:</p>
                      <li>Shortness of breath,</li><li>Loss of appetite,</li><li>Confusion,</li><li>Persistent pain or pressure in the chest,</li><li>High temperature (above 38 &deg;C).</li>
                      <br>
                      <p>Other less common symptoms are:</p>
                      <li>Irritability,</li><li>Confusion,</li><li>Reduced consciousness (sometimes associated with seizures),</li><li>Anxiety,</li><li>Depression,</li><li>Sleep disorders,</li><li>More severe and rare neurological complications such as strokes, brain inflammation, delirium and nerve damage.</li>
                  </ul>
    </div>
</div>